In [35]:
from sqlalchemy import text, create_engine
import sqlalchemy 
import pandas as pd
from tqdm import tqdm

In [36]:
# Import dataframe into MySQL
database_username = 'blitt'
database_password = 'podcasts'
database_ip       = 'curry'
database_name     = 'podcasts'

#establish connection to podcasts database
sqlEngine = sqlalchemy.create_engine('mysql+pymysql://blitt:podcasts@localhost/podcasts', pool_recycle=3600)
conn = sqlEngine.connect()

In [37]:
df = pd.read_sql("select * from podcasts.floydLinksOld", conn, index_col="index")

In [38]:
#list(df.loc[df["url"].str.contains("iono"), "url"])
finished = df[df["processed"] == 1]

In [39]:
lastWritten = 45231
firstRedo = lastWritten - 200

In [40]:
df.iloc[0:firstRedo, 1] = 2

In [41]:
df.head()

                                                     url  processed
index
0      https://dts.podtrac.com/redirect.mp3/dts.podtr...          2
1      http://www.jonesroadchurch.org/media/uploads/s...          2
2      http://www.jonesroadchurch.org/media/uploads/s...          2
3      https://s3.castbox.fm/.static/rss/10259/271014109          2
4      https://chtbl.com/track/3712E/torahcleveland.c...          2

In [49]:
df["url"] = df["url"].apply(lambda x: x.replace("'", "").replace('"', ''))

In [32]:
df.to_sql(con=conn, name='floydLinks', if_exists="replace")

787223

In [34]:
conn.close()