In [1]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd

In [2]:
df = pd.read_json("/shared/3/projects/benlitterer/podcastData/processed/mayJuneRemaining/mayJuneRemaining.jsonl", orient="records", lines=True)
df.shape

(371795, 57)

In [6]:
#sanity check the dates just a tad 
#df[["cleanDates", "cleanDatesLoc"]].sample(20)

In [7]:
df = df[["enclosure"]]
df["processed"] = 0

In [10]:
df = df.rename(columns={"enclosure":"url"}).reset_index(drop=True)

In [11]:
df.head()

                                                 url  processed
0  https://www.buzzsprout.com/783020/3687430-moth...          0
1  https://mcdn.podbean.com/mf/web/851au9/Self_hy...          0
2     https://traffic.megaphone.fm/APO4624257968.mp3          0
3  https://anchor.fm/s/11abe148/podcast/play/1338...          0
4  https://pdst.fm/e/chrt.fm/track/D33B1E/traffic...          0

In [7]:
# Import dataframe into MySQL
import sqlalchemy
database_username = 'blitt'
database_password = 'podcasts'
database_ip       = 'curry'
database_name     = 'podcasts'

In [8]:
#establish connection to podcasts database
sqlEngine = sqlalchemy.create_engine('mysql+pymysql://blitt:password@curry:3306/podcasts', pool_recycle=3600)
conn = sqlEngine.connect()

In [9]:
#write the dataframe to mysql table 
df.to_sql(con=conn, name='mayJuneRemaining', if_exists='replace')

/tmp/ipykernel_2678136/260876386.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.to_sql(con=conn, name='mayJuneRemaining', if_exists='replace')

AttributeError: 'Connection' object has no attribute 'cursor'

In [17]:
conn.close()